rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
//service firebase.storage {
//  match /b/{bucket}/o {
//    match /{allPaths=**} {
//      allow read, write: if false;
//    }
//  }
//}

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      allow read: if true;
      allow write: if false;
      // Add the following lines to allow access from any origin
      allow get: if request.origin == "http://localhost:5002";
      allow get: if request.headers.origin == "http://localhost:5002";
    }
  }
}

